/*   For index.jsp   */

/*
* {
   border: 1px solid red !important;
}
*/

body {
	padding-bottom: 100px;
}

body.homepage {
	background: whitesmoke;
	height: 99%;
	width: 99%;
}

.container-1 {
	width: 400px;
	vertical-align: middle;
	white-space: nowrap;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	padding: 1px;
}

.container-1 input#search {
	display: block;
	position: relative;
	margin: auto;
	width: 350px;
	height: 40px;
	background: #ffffff;
	border: 2px solid #dadada;
    border-radius: 7px;
	font-size: 12pt;
	color: #63717f;
	padding-left: 45px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	box-sizing: border-box;
}

.container-1 input#search:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}    

.container-1 .icon {
	position: absolute;
	top: 40%;
	margin-left: 40px;
	margin-top: 20px;
	z-index: 1;
	color: #4f5b66;
}

.container-1 input[type="submit"] {
	display: block;
	margin: auto;
	position: relative;
	top: 20px;
	left: -6px;
	width: 10em;
	height: 2em; border : 1px solid #adc5cf;
	background: #e4f1f9; /* Old browsers */
	background: -moz-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4f1f9),
		color-stop(100%, #d5e7f3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%);
	/* IE10+ */
	background: linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9',
		endColorstr='#d5e7f3', GradientType=0); /* IE6-9 */
	color: #7da2aa;
	cursor: pointer;
	border: 1px solid #adc5cf;
}


.container-1 h3.heading {
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	left: 80px;
}

.homepage .footer {
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 99%;
	font-size: 12pt;
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 5px;
}





/* For result.jsp  */



body.resultpage {
	background: white;
	height: 99%;
	width: 99%;
}

.container-2 {
	width: 80%;
	vertical-align: middle;
	white-space: nowrap;
	position: absolute;
	top: 5%;
	left: 5%;
}

.container-2 input#search {
	width: 350px;
	height: 40px;
	background: #ffffff;
	border: 2px solid #dadada;
    border-radius: 7px;	
	font-size: 12pt;
	float: left;
	color: #63717f;
	padding-left: 45px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	box-sizing: border-box;
}


.container-2 input#search:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}


.container-2 .icon {
	position: absolute;
	top: 40%;
	margin-left: 17px;
	margin-top: 17px;
	z-index: 1;
	color: #4f5b66;
}

.container-2 input[id="searchsubmit"] {
	display: block;
	position: absolute;
	top: 60px;
	width: 10em;
	height: 2em; border : 1px solid #adc5cf;
	background: #e4f1f9; /* Old browsers */
	background: -moz-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4f1f9),
		color-stop(100%, #d5e7f3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%);
	/* IE10+ */
	background: linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9',
		endColorstr='#d5e7f3', GradientType=0); /* IE6-9 */
	color: #7da2aa;
	cursor: pointer;
	border: 1px solid #adc5cf;
}


.container-2 input[id="feedbacksubmit"] {
	display: block;
	position: absolute;
	top: 60px;
	left: 215px;
	width: 10em;
	height: 2em; border : 1px solid #adc5cf;
	background: #e4f1f9; /* Old browsers */
	background: -moz-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4f1f9),
		color-stop(100%, #d5e7f3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%);
	/* IE10+ */
	background: linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9',
		endColorstr='#d5e7f3', GradientType=0); /* IE6-9 */
	color: #7da2aa;
	cursor: pointer;
	border: 1px solid #adc5cf;
}


.container-2 .resultlist {
	display:block;
	position: absolute;
	width: 80%;
	top: 100px;
}


a {
	display: block;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 16pt;
	font-family: Arial, Helvetica, sans-serif;
}

.resultlist #description {
	font-size: 13pt;
	font-family: Arial, Helvetica, sans-serif;
}

.resultlist #score {
	padding-left: 60px;
}

.tablestyle {
	white-space: normal;
	width: 80%;
}

.tablepadding {
	padding-bottom: 30px;
}